/* Min Width 1200px */
@media only screen and (min-width:1200px){
    .nav-menu li{
        display: inline-block;
    }
    
    .nav-menu li a{
        display: block;
        font-size: var(--text-font-size);
        font-weight: var(--font-weight-medium);
        color: var(--white-color);
        padding: 0 16px;
    }
    
    .nav-menu li a:last-child{
        padding-right: 0;
        margin-left: 14px;
    }

    .nav-menu li a.active{
        color: var(--primary-color);
        background-color: var(--white-color);
        border-radius: 5px;
        padding: 5px 16px;
    }

    .nav-toggle{
        display: none;
    }
}

/* Max Width 1199px */
@media only screen and (max-width:1199px){

    .thk-main-menu{
        position: absolute;
        display: none;
        width: 100%;
        top: 130px;
        left: 0;
        background-color: #fff;
        padding: 24px 50px;
        transition: display var(--transition);
        z-index: 10;
    }

    .nav-menu li a{
        position: relative;
        display: inline-block;
        width: 100%;
        font-size: 16px;
        padding: 8px 0;
        border-bottom: 1px solid #dddddd;
    }

    .nav-menu > li:last-child a{
        border-bottom: none;
    }

    .nav-toggle{
        display: block;
        font-size: 24px;
        color: var(--white-color);
    }

    .thk-about .about-image{
        height: 500px;
        margin-bottom: 40px;
    }
}

/* Max Width 991px */
@media only screen and (max-width:991px){
    .thk-toolbar-wrapper{
        display: none
    }

    .thk-banner-1 .thk-slide{
        height: 0;
        padding: 300px 0;
    }

    .thk-slide{
        padding: 0;
    }

    .thk-main-menu{
        top: 80px;
    }
}

/* Max Width 380px */
@media only screen and (max-width:380px){
    .thk-donate .thk-callToAction h4{
        font-size: 20px;
    }
}